<br />

<filter-textbox (changed)="filter($event)"></filter-textbox>
<br />
<!--TABLA PARA RENDERIZAR LOS DATOS DE CLIENTES Y PEDIDOS-->
<table class="table table-hover">
    <!--CABECERA-->
    <thead>
        <tr> <!--USAMOS EVENTBINDING PARA...-->
            <th (click)="sort('name')">Name</th>
            <th (click)="sort('city')">City</th>
            <th (click)="sort('orderTotal')">Order Total</th>
        </tr>
    </thead>
    <!--FILAS-> NAME | CITY | ORDERTOTAL-->
    <tr *ngFor="let cust of filteredCustomers">
        <td>
            <a [routerLink]= "['/orders', cust.id]">
                {{ cust.name | capitalize }}
            </a>
        </td>
        <td>{{ cust.city }}</td>
        <td>{{ cust.orderTotal | currency: 'EUR': 'symbol'}}</td>
    </tr>
    <!--FILA FILTRO TOTAL PEDIDOSCLIENTES-->
    <tr *ngIf="filteredCustomers && filteredCustomers.length">
        <td colspan="2">&nbsp;</td>
        <td>
            {{ customersOrderTotal | currency: 'EUR': 'symbol' }}
        </td>
    </tr>
    <!--FILA FILTRO TOTALcLIENTES-->
    <tr *ngIf="!filteredCustomers || !filteredCustomers.length">
        <td colspan="4">No customers found</td>
    </tr>
</table>
<!--FIN TABLA DATOS/PEDIDOS CLIENTES-->
<!--elemento independiente. -->
Number of Customers: {{ filteredCustomers.length }}
<br />