/* You can add global styles to this file, and also import other style files */
html {
    overflow-y: scroll;
    overflow-x: hidden;
    
}

main {
    position: relative;
    padding-top: 55px;
}

/* Ensure display:flex and others don't override a [hidden] */
[hidden] { display: none !important; }

footer {
    margin-top: 15px;
}

th {
    cursor: pointer;
}



.app-title {
    line-height:50px;
    font-size:20px;
    color: #232f3d;
}

thead {
    background-color: #efefef;
}


  /* Button style */
  button {
    border: none;
    border-radius: 2px;
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #e2e3e0;
    box-shadow: 0 0 4px #999;
    outline: none;
  }



  /*
  * TEXTFIELD STANDARD
  */
  .pure-material-textfield-standard {
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    overflow: hidden;
}

/* Input, Textarea */
.pure-material-textfield-standard > input,
.pure-material-textfield-standard > textarea {
    display: block;
    box-sizing: border-box;
    margin: 0;
    border: none;
    border-top: solid 27px transparent;
    border-bottom: solid 1px rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    padding: 0 0 4px;
    width: 100%;
    height: inherit;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    background-color: transparent;
    box-shadow: none; /* Firefox */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    caret-color: rgb(var(--pure-material-primary-rgb, 35, 47, 61));
    transition: border-bottom 0.2s, background-color 0.2s;
}

/* span */
.pure-material-textfield-standard > input + span,
.pure-material-textfield-standard > textarea + span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    box-sizing: border-box;
    padding: 7px 0 0;
    color: rgba(var(--pure-material-onsurface-rgb,35, 47, 61), 0.6);
    font-size: 75%;
    line-height: 18px;
    pointer-events: none;
    transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

/* Underline */
.pure-material-textfield-standard > input + span::after,
.pure-material-textfield-standard > textarea + span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(var(--pure-material-primary-rgb, 35, 47, 61));
    transform-origin: bottom center;
    transform: scaleX(0);
    transition: transform 0.2s;
}

/* Hover */
.pure-material-textfield-standard > input:hover,
.pure-material-textfield-standard > textarea:hover {
    border-bottom-color: rgba(var(--pure-material-onsurface-rgb,35, 47, 61), 0.87);
}

/* Placeholder-shown */
.pure-material-textfield-standard > input:not(:focus):placeholder-shown + span,
.pure-material-textfield-standard > textarea:not(:focus):placeholder-shown + span {
    font-size: inherit;
    line-height: 56px;
}

/* Focus */
.pure-material-textfield-standard > input:focus,
.pure-material-textfield-standard > textarea:focus {
    outline: none;
}

.pure-material-textfield-standard > input:focus + span,
.pure-material-textfield-standard > textarea:focus + span {
    color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-textfield-standard > input:focus + span::before,
.pure-material-textfield-standard > textarea:focus + span::before {
    opacity: 0.12;
}

.pure-material-textfield-standard > input:focus + span::after,
.pure-material-textfield-standard > textarea:focus + span::after {
    transform: scale(1);
}

/* Disabled */
.pure-material-textfield-standard > input:disabled,
.pure-material-textfield-standard > textarea:disabled {
    border-bottom-color: rgba(var(--pure-material-onsurface-rgb, 35, 47, 61), 0.38);
    color: rgba(var(--pure-material-onsurface-rgb, 35, 47, 61), 0.38);
}

.pure-material-textfield-standard > input:disabled + span,
.pure-material-textfield-standard > textarea:disabled + span {
    color: rgba(var(--pure-material-onsurface-rgb, 35, 47, 61), 0.38);
}

/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
        .pure-material-textfield-standard > input,
        .pure-material-textfield-standard > input + span,
        .pure-material-textfield-standard > input + span::after,
        .pure-material-textfield-standard > textarea,
        .pure-material-textfield-standard > textarea + span,
        .pure-material-textfield-standard > textarea + span::after {
            transition-duration: 0.1s;
        }
    }
}


/*
    INFINITY CIRCULAR WAY
*/
.pure-material-progress-circular {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    border: none;
    border-radius: 50%;
    padding: 0.25em;
    width: 3em;
    height: 3em;
    color: rgb(var(--pure-material-primary-rgb, 82, 105, 131));
    background-color: transparent;
    font-size: 16px;
    overflow: hidden;
}

.pure-material-progress-circular::-webkit-progress-bar {
    background-color: transparent;
}

/* Indeterminate */
.pure-material-progress-circular:indeterminate {
    -webkit-mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
    mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
    animation: pure-material-progress-circular 6s infinite cubic-bezier(0.3, 0.6, 1, 1);
}

:-ms-lang(x), .pure-material-progress-circular:indeterminate {
    animation: none;
}

.pure-material-progress-circular:indeterminate::before,
.pure-material-progress-circular:indeterminate::-webkit-progress-value {
    content: "";
    display: block;
    box-sizing: border-box;
    margin-bottom: 0.25em;
    border: solid 0.25em transparent;
    border-top-color: currentColor;
    border-radius: 50%;
    width: 100% !important;
    height: 100%;
    background-color: transparent;
    animation: pure-material-progress-circular-pseudo 0.75s infinite linear alternate;
}

.pure-material-progress-circular:indeterminate::-moz-progress-bar {
    box-sizing: border-box;
    border: solid 0.25em transparent;
    border-top-color: currentColor;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    animation: pure-material-progress-circular-pseudo 0.75s infinite linear alternate;
}

.pure-material-progress-circular:indeterminate::-ms-fill {
    animation-name: -ms-ring;
}

@keyframes pure-material-progress-circular {
    0% {
        transform: rotate(0deg);
    }
    12.5% {
        transform: rotate(180deg);
        animation-timing-function: linear;
    }
    25% {
        transform: rotate(630deg);
    }
    37.5% {
        transform: rotate(810deg);
        animation-timing-function: linear;
    }
    50% {
        transform: rotate(1260deg);
    }
    62.5% {
        transform: rotate(1440deg);
        animation-timing-function: linear;
    }
    75% {
        transform: rotate(1890deg);
    }
    87.5% {
        transform: rotate(2070deg);
        animation-timing-function: linear;
    }
    100% {
        transform: rotate(2520deg);
    }
}

@keyframes pure-material-progress-circular-pseudo {
    0% {
        transform: rotate(-30deg);
    }
    29.4% {
        border-left-color: transparent;
    }
    29.41% {
        border-left-color: currentColor;
    }
    64.7% {
        border-bottom-color: transparent;
    }
    64.71% {
        border-bottom-color: currentColor;
    }
    100% {
        border-left-color: currentColor;
        border-bottom-color: currentColor;
        transform: rotate(225deg);
    }
}

/*
* BUTTON STYYLES
*/
.pure-material-button-text {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 8px;
    min-width: 64px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: rgb(var(--pure-material-primary-rgb, 82, 105, 131));
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
}

.pure-material-button-text::-moz-focus-inner {
    border: none;
}

/* Overlay */
.pure-material-button-text::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: currentColor;
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-text::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px;
    height: 32px;
    background-color: currentColor;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1) ;
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-text:hover::before {
    opacity: 0.04;
}

.pure-material-button-text:focus::before {
    opacity: 0.12;
}

.pure-material-button-text:hover:focus::before {
    opacity: 0.16;
}

/* Active */
.pure-material-button-text:active::after {
    opacity: 0.16;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.pure-material-button-text:disabled {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    background-color: transparent;
    cursor: initial;
}

.pure-material-button-text:disabled::before {
    opacity: 0;
}

.pure-material-button-text:disabled::after {
    opacity: 0;
}



/*
BUTTON N2
*/
.pure-material-button-contained {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 16px;
    min-width: 64px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: rgb(var(--pure-material-onprimary-rgb, 226, 227, 224));
    background-color: rgb(var(--pure-material-primary-rgb,  131, 151, 176));
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.pure-material-button-contained::-moz-focus-inner {
    border: none;
}

/* Overlay */
.pure-material-button-contained::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-contained::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px; /* Safari */
    height: 32px; /* Safari */
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-contained:hover,
.pure-material-button-contained:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:hover::before {
    opacity: 0.08;
}

.pure-material-button-contained:focus::before {
    opacity: 0.24;
}

.pure-material-button-contained:hover:focus::before {
    opacity: 0.3;
}

/* Active */
.pure-material-button-contained:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.pure-material-button-contained:disabled {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
    box-shadow: none;
    cursor: initial;
}

.pure-material-button-contained:disabled::before {
    opacity: 0;
}

.pure-material-button-contained:disabled::after {
    opacity: 0;
}




.buttonOverROWS {
    display:block;
    width: 100%;
    height: 100%;
}
td{
    width: 20px;
    height: 10px;
}

/*
    PRUEBA ESTILOS KEYFRAMES
*/
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
   
  }
  
  .deconstructed {
    position: relative;
    margin: auto;
    height: 0.71em;
    color: transparent;
    font-family: 'Cambay', sans-serif;
    font-size: 10vw;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 1.03em;
  }
  
  .deconstructed > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #8397B0;
    pointer-events: none;
  }
  
  .deconstructed > div:nth-child(1) {
    -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
    mask-image: linear-gradient(black 25%, transparent 25%);
    animation: deconstructed1 5s infinite;
  }
  
  .deconstructed > div:nth-child(2) {
    -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
    mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
    animation: deconstructed2 5s infinite;
  }
  
  .deconstructed > div:nth-child(3) {
     -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
    mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
    animation: deconstructed3 5s infinite;
  }
  
  .deconstructed > div:nth-child(4) {
     -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
    mask-image: linear-gradient(transparent 75%, black 75%);
    animation: deconstructed4 5s infinite;
  }
  
  @keyframes deconstructed1 {
    0% {
      transform: translateX(100%);
    }
    26% {
      transform: translateX(0%);
    }
    83% {
      transform: translateX(-0.1%);
    }
    100% {
      transform: translateX(-120%);
    }
  }
  
  @keyframes deconstructed2 {
    0% {
      transform: translateX(100%);
    }
    24% {
      transform: translateX(0.5%);
    }
    82% {
      transform: translateX(-0.2%);
    }
    100% {
      transform: translateX(-125%);
    }
  }
  
  @keyframes deconstructed3 {
    0% {
      transform: translateX(100%);
    }
    22% {
      transform: translateX(0%);
    }
    81% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-130%);
    }
  }
  
  @keyframes deconstructed4 {
    0% {
      transform: translateX(100%);
    }
    20% {
      transform: translateX(0%);
    }
    80% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-135%);
    }
  }

/**
  ESTILOS REDES SOCIALES
**/
.menu {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    cursor: pointer;
    pointer-events: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  .menu:hover {
    pointer-events: all;
  }
  .label {
    display: inline-block;
    cursor: pointer;
    pointer-events: all;
  }
  .spacer {
    display: inline-block;
    width: 80px;
    margin-left: 15px;
    margin-right: 15px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
  }
  .spacer:before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #ffffff;
    height: 1px;
    width: 0%;
    transition: width 0.25s ease;
    transition-delay: 0.7s;
  }
  .item {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;
    transition-delay: 0;
  }
  span {
    transition: color 0.5s ease;
  }
  .item:hover span {
    color: #ff0000;
  }
  .menu:hover .spacer:before {
    width: 100%;
    transition-delay: 0s;
  }
  .menu:hover .item {
    opacity: 1;
    top: 0px;
  }
  .item:nth-child(1) {
    transition-delay: 0.45s;
  }
  .item:nth-child(2) {
    transition-delay: 0.4s;
  }
  .item:nth-child(3) {
    transition-delay: 0.35s;
  }
  .item:nth-child(4) {
    transition-delay: 0.3s;
  }
  .item:nth-child(5) {
    transition-delay: 0.25s;
  }
  .item:nth-child(6) {
    transition-delay: 0.2s;
  }
  .item:nth-child(7) {
    transition-delay: 0.15s;
  }
  .item:nth-child(8) {
    transition-delay: 0.1s;
  }
  .item:nth-child(9) {
    transition-delay: 0.05s;
  }
  .item:nth-child(10) {
    transition-delay: 0s;
  }
  .menu:hover .item:nth-child(1) {
    transition-delay: 0.25s;
  }
  .menu:hover .item:nth-child(2) {
    transition-delay: 0.3s;
  }
  .menu:hover .item:nth-child(3) {
    transition-delay: 0.35s;
  }
  .menu:hover .item:nth-child(4) {
    transition-delay: 0.4s;
  }
  .menu:hover .item:nth-child(5) {
    transition-delay: 0.45s;
  }
  .menu:hover .item:nth-child(6) {
    transition-delay: 0.5s;
  }
  .menu:hover .item:nth-child(7) {
    transition-delay: 0.55s;
  }
  .menu:hover .item:nth-child(8) {
    transition-delay: 0.6s;
  }
  .menu:hover .item:nth-child(9) {
    transition-delay: 0.65s;
  }
  .menu:hover .item:nth-child(10) {
    transition-delay: 0.7s;
  }